main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
    .main-page-content {
        box-sizing: border-box;
        min-width: 400px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        max-height: 574.5px;
        min-height: 574.5px;
        background-color: white;
        border-radius: 25px;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
        overflow: overlay;
    }

@media (max-width: 1130px) {
    .main-page-content {
        max-height: 504.5px;
        min-height: 504.5px;
        border-radius: 30px;
    }
}

@media (max-width: 800px) {
    .main-page-content{
        min-width: 300px;
    }
}

@media (max-width: 639.2px) {
    .main-page-content {
        max-height: 574.5px;
        min-height: 574.5px;
        border-radius: 25px;
    }
    main {
        flex-wrap: wrap;
        margin: 10px;
    }
}

@media (max-width: 410px){
    .main-page-content{
        min-width: 250px;
    }
}

@media (max-width: 370px) {
    .main-page-content{
        min-width: 220px;
    }
}