.single-person{
    height: max-content;
    max-height: 250px;
    min-height: 250px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    color: black;
    font-size: 14px;
    gap: 20px;
    overflow: overlay;
}
.single-person:not(:last-of-type) {
    margin-bottom: 20px;
}
    .person-picture{
        min-width: 120px;
        max-width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .person-image{
            width: 120px;
            overflow: hidden;
            border-radius: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        }
    .person-info{
        display: flex;
        min-width: 300px;
        max-width: 300px;
        flex-direction: column;
        height: 100%;
        gap: 10px;
    }
        .person-name{
            flex: 1;
            font-weight: bold;
        }
        .single-person-info{
            height: 126px;
            overflow: overlay;
        }
        .single-person-contacts{
            flex: 1;
            display: flex;
        }
            .single-person-mail{
                margin-left: 30px;
            }
    .person-mail{
        flex: 1;
    }
        .person-form{
            display: flex;
            flex-direction: column;
            height: 100%;
            }
            .jmeno-prijmeni{
                flex: 1;
                display: flex;
                margin-bottom: 10px;
                gap: 10px;
            }
                .jmeno-prijmeni-item{
                    width: 50%;
                    padding: 4px;
                    padding-left: 8px;
                    border-radius: 12px;
                    border: 1px solid gray;
                }
            .sender-mail{
                flex: 1;
                display: flex;
                margin-bottom: 10px;
            }
                .sender-mail-item{
                    width: 100%;
                    padding: 4px;
                    padding-left: 8px;
                    border-radius: 12px;
                    border: 1px solid gray;
                }
            .sender-message{
                flex: 2;
                display: flex;
                margin-bottom: 10px;
            }
                .sender-message-item{
                    resize: none;
                    width: 100%;
                    height: 70px;
                    padding: 4px;
                    padding-left: 8px;
                    border-radius: 12px;
                    border: 1px solid gray;
                }
            .form-button{
                flex: 1;
                display: flex;
            }
                .form-button-item{
                    width: 100%;
                    height: 100%;
                    padding: 4px;
                    padding-left: 8px;
                    border-radius: 12px;
                    border: none;
                    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
                    background-color: white;
                    transition: 0.15s;
                }
                .form-button-item:hover{
                    background-color: rgb(50, 50, 50);
                    color: white;
                    box-shadow: 0 0 1px 1px white;
                    cursor: pointer;
                }

@media (max-width: 1130px) {
    .single-person {
        border-radius: 20px;
    }
}
@media (max-width: 1075px) {
    .single-person {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .person-mail {
        width: 100%;
    }
}
@media (max-width: 780px) {
    .person-info {
        min-width: 250px;
        max-width: 250px;
    }
}
@media (max-width: 733px) {
    .single-person{
        font-size: 12px;
    }
    .person-info{
        min-width: 200px;
        max-width: 200px;
    }
    .single-person-contacts{
        flex-wrap: wrap;
    }
    .single-person-mail{
        margin-left: 0;
    }
    .jmeno-prijmeni{
        flex-wrap: wrap;
    }
    .jmeno-prijmeni-item{
        width: 100%;
    }
}
@media (max-width: 639.2px) {
    .single-person {
        border-radius: 15px;
    }
}
@media (max-width: 410px) {
    .person-info {
        min-width: 150px;
        max-width: 150px;
    }
}
@media (max-width: 370px) {
    .person-info {
        min-width: 120px;
        max-width: 120px;
    }
}